<html>
  <head></head>
  <body>
    <h1>Welcome to the Music Library</h1>
    <div>Album Title: <span id="album-title"><%= @title %></span> </div>
    <div>Artist: <span id="artist-name"><%= @artist_name %></span> </div>
    <div>Released in: <span id="release-year"><%=@release_year%></span> </div>
  </body>
</html>