<html>
  <head>
    <title>List of amazingly eclectic albums</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Welcome to the Music Library</h1>
    <div><a href="/albums">See list of albums</a></div>
    <h2>This is a list of the artists who have albums in your library</h2>
    <ul id="artist-list">
        <div>
            <% @artists.each do |artist| %>
            <li class="artist-data">
                <a href="/artists/<%= artist.id %>"><%= artist.name %></a>
            </li>
            <% end %>
        </div>
    </ul>
  </body>
</html>