<html>
  <head></head>
  <body>
    <h1>Welcome to the Music Library</h1>
    <h2>This is a list of all your albums</h2>
    <ul id="albums-list">
        <div>
            <% @albums.each do |album| %>
            <li class="album-data">
                <%= "#{album.artist_name} -- #{album.title}"%>
            </li>
            <% end %>
        </div>
    </ul>
  </body>
</html>