<html>
  <head></head>
  <body>
    <h1>Welcome to the Music Library</h1>
    <div id="header">
      <a href="/albums/new">Add another album</a>
      <a href="/artists">See list of artists</a>
    </div>
    <h2>This is a list of all your albums</h2>
    <ul id="albums-list">
        <div>
            <% @albums.each do |album| %>
            <li class="album-data">
                <a href="/albums/<%=album.id%>"><%= album.title %></a>
            </li>
            <% end %>
        </div>
    </ul>
  </body>
</html>