<html>
  <head></head>
  <body>
    <h1>Add a new album</h1>
    <form action="/albums" method="POST" >
    <input type="text" name="title" placeholder="Album title"/>
    <input type="text" name="artist_name" placeholder="artist name" />
    <input type="text" name="release_year" placeholder="release year" />
    <input type="submit" value="Submit the form">
    </form>
  </body>
</html>