<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<style> .results {display:block; margin:auto; width: fit-content;}</style>
<body>
<div class="results">
    <p>You chose <%=@user%> </p>
    <p>I chose <%= @comp%> </p>
    <p><%= @result %></p>
    <p></p>
    <a href="/">Play again?</a>
</div>
</body>
</html>